.bluerbackground {
   background: radial-gradient(circle at center, #d7f3ff 0%, #005bbf 100%);
  backdrop-filter: blur(104.5px);
  -webkit-backdrop-filter: blur(104.5px);
  width: 322px;
  height: 219px;
  position: absolute;
  top: 170px;
  left: calc(50% - 161px);
}

.section-card {
  background: linear-gradient(
      to bottom right,
      rgba(59, 21, 84, 0.6),
      rgba(27, 16, 43, 0.7)
    ),
    rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 16px;
  border: 1px solid transparent;
}

.parent:hover .section-card:not(:hover) {
  opacity: 0.5;
}

.text-home {
  background: linear-gradient(to right, #999999, #cccccc, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg-blur-ios {
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
}

@media (max-width: 780px) {
  .bluerbackground {
    background-size: 325px;
    height: 129px;
  }
}

@media (max-width: 400px) {
  .bluerbackground {
    background-position-x: -29px;
  }
}
