.bluerbackground {
  filter: blur(104.5px);
   -webkit-filter: blur(104.5px);
   background: radial-gradient(circle at center, #d7f3ff 0%, #005bbf 100%);
  width: 322px;
  height: 219px;
  position: absolute;
  top: 170px;
  left: calc(50% - 161px);
}

@media (max-width: 780px) {
  .bluerbackground {
    background-size: 325px;
    height: 129px;
  }
}

@media (max-width: 400px) {
  .bluerbackground {
    background-position-x: -29px;
  }
}
